
body {
	background: #c31432;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.striker {
	text-decoration: line-through;
	color: #e8505b;
}


.brand{
	padding-left: 450px;
	font-size: 3rem;
	color: #f57170;
}


.brand:hover{
	color: #d59bf6;
	text-decoration: none;
}

.form-control {
    padding-right: 35.55rem;

}

.btn btn-outline-secondary{
	display: flex;
}

.btn{
	background-color: transparent;
	color: white;
	border: 0.9px solid #f6416c;
	border-radius: 7px;
}

.btn:hover{
	background-color:#e23e57;
	color: white;
}

a{
	font-size: 1.03rem;
    text-align: center;
	color:#fafafa;
}

a:hover {
    color: #574b90;
    text-decoration: none;
}
